{% load static %}
<div class="top">
    <form>
        <input type="search" class="form-control" placeholder="Search">
        <button type="submit" class="btn prepend"><i data-eva="search"></i></button>
    </form>
</div>
<div class="middle">
    <h4>Friends</h4>
    <button type="button" class="btn" data-toggle="modal" data-target="#addfriend"><i class="eva-hover">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
             class="eva eva-person-add eva-animation eva-icon-hover-pulse">
            <g data-name="Layer 2">
                <g data-name="person-add">
                    <rect width="24" height="24" opacity="0"></rect>
                    <path d="M21 6h-1V5a1 1 0 0 0-2 0v1h-1a1 1 0 0 0 0 2h1v1a1 1 0 0 0 2 0V8h1a1 1 0 0 0 0-2z">
                    </path>
                    <path d="M10 11a4 4 0 1 0-4-4 4 4 0 0 0 4 4z"></path>
                    <path d="M16 21a1 1 0 0 0 1-1 7 7 0 0 0-14 0 1 1 0 0 0 1 1">
                    </path>
                </g>
            </g>
        </svg>
    </i></button>
    <hr>
    <ul class="users">
        <li>
            <a href="#">
                <div class="status online"><img src="{% static 'test/avatar-male-1.jpg' %}" alt="avatar"><i
                        data-eva="radio-button-on"></i></div>
                <div class="content">
                    <h5>Ham Chuwon</h5>
                    <span>Florida, US</span>
                </div>
                <div class="icon"><i data-eva="person"></i></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="status offline"><img src="{% static 'test/avatar-male-2.jpg' %}" alt="avatar"><i
                        data-eva="radio-button-on"></i></div>
                <div class="content">
                    <h5>Quincy Hensen</h5>
                    <span>Shanghai, China</span>
                </div>
                <div class="icon"><i data-eva="person"></i></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="status online"><img src="{% static 'test/avatar-male-3.jpg' %}" alt="avatar"><i
                        data-eva="radio-button-on"></i></div>
                <div class="content">
                    <h5>Mark Hog</h5>
                    <span>Olso, Norway</span>
                </div>
                <div class="icon"><i data-eva="person"></i></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="status offline"><img src="{% static 'test/avatar-male-4.jpg' %}" alt="avatar"><i
                        data-eva="radio-button-on"></i></div>
                <div class="content">
                    <h5>Sanne Viscaal</h5>
                    <span>Helena, Montana</span>
                </div>
                <div class="icon"><i data-eva="person"></i></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="status offline"><img src="{% static 'test/avatar-male-5.jpg' %}" alt="avatar"><i
                        data-eva="radio-button-on"></i></div>
                <div class="content">
                    <h5>Alex Just</h5>
                    <span>London, UK</span>
                </div>
                <div class="icon"><i data-eva="person"></i></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="status online"><img src="{% static 'test/avatar-male-6.jpg' %}" alt="avatar"><i
                        data-eva="radio-button-on"></i></div>
                <div class="content">
                    <h5>Arturo Thomas</h5>
                    <span>Vienna, Austria</span>
                </div>
                <div class="icon"><i data-eva="person"></i></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="status offline"><img src="{% static 'test/avatar-male-1.jpg' %}" alt="avatar"><i
                        data-eva="radio-button-on"></i></div>
                <div class="content">
                    <h5>Victoria Garner</h5>
                    <span>Chisinau, Moldova</span>
                </div>
                <div class="icon"><i data-eva="person"></i></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="status offline"><img src="{% static 'test/avatar-male-2.jpg' %}" alt="avatar"><i
                        data-eva="radio-button-on"></i></div>
                <div class="content">
                    <h5>Maria Baron</h5>
                    <span>Indore, India</span>
                </div>
                <div class="icon"><i data-eva="person"></i></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="status online"><img src="{% static 'test/avatar-male-3.jpg' %}" alt="avatar"><i
                        data-eva="radio-button-on"></i></div>
                <div class="content">
                    <h5>Sara Koch</h5>
                    <span>Sofia, BG</span>
                </div>
                <div class="icon"><i data-eva="person"></i></div>
            </a>
        </li>
    </ul>
</div>