{% load static %}
<div class="user">
    <label>
        <input type="file">
        <img src="{% static 'test/avatar-male-1.jpg' %}" alt="avatar">
    </label>
    <div class="content">
        <h5>Ham Chuwon</h5>
        <span>Florida, US</span>
    </div>
</div>
<h4>Settings</h4>
<ul id="preferences">
    <!-- Start of Account -->
    <li>
        <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#account"
           aria-controls="account">
            <div class="title">
                <h5>Account</h5>
                <p>Update your profile details</p>
            </div>
            <i data-eva="arrow-ios-forward"></i>
            <i data-eva="arrow-ios-downward"></i>
        </a>
        <div class="content collapse" id="account" data-parent="#preferences">
            <div class="inside">
                <form class="account">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="First name" value="Ham">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last name" value="Chuwon">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="Enter your email address"
                               value="hamchuwon@gmail.com">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Enter your password" value="123456">
                    </div>
                    <div class="form-group">
                        <label>Biography</label>
                        <textarea class="form-control" placeholder="Tell us a little about yourself"></textarea>
                    </div>
                    <button type="submit" class="btn primary">Save settings</button>
                </form>
            </div>
        </div>
    </li>
    <!-- End of Account -->
    <!-- Start of Appearance -->
    <li>
        <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#appearance"
           aria-controls="appearance">
            <div class="title">
                <h5>Appearance</h5>
                <p>Customize the look of Swipe</p>
            </div>
            <i data-eva="arrow-ios-forward"></i>
            <i data-eva="arrow-ios-downward"></i>
        </a>
        <div class="content collapse" id="appearance" data-parent="#preferences">
            <div class="inside">
                <ul class="options">
                    <li>
                        <div class="headline">
                            <h5>Lights</h5>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round mode"></span>
                            </label>
                        </div>
                        <p>Turn On Light
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <!-- End of Appearance -->
    <!-- Start of SignOut -->
    <li>
        <a href={% url 'signout' %} class="headline">
            <div class="title">
                <h5>SignOut</h5>
            </div>
        </a>
    </li>
</ul>
