{% load static %}
{% for group in list_group %}
    {% for groupid in group %}
    <li>
        <a href={% url 'room' groupid %} id={{ groupid }}  class="filter direct" data-chat="open" data-toggle="link" role="link" aria-controls="chat1"
           aria-selected="false">
            <div class="status online"><img src="{% static 'test/avatar-male-1.jpg' %}" alt="avatar"><i
                    data-eva="radio-button-on"></i></div>
            <div class="content">
                <div class="headline">
                    <h5>{{ groupid }} </h5>
                </div>
                {% for last_message in list_last_message %}
                    {% if groupid == last_message.groupid %}
                        <p>
                            {{ last_message.content }}
                        </p>
                    {% endif %}
                {% endfor %}

            </div>
        </a>
    </li>
    {% endfor %}
{% endfor %}